body {
    overflow-x:hidden;
}
.modal {
  text-align: center;
}
.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 800px;
    padding: 15px;
}
h1 {
    font-size: 16px;
}
svg {
    border: 1px solid #aaaaaa;
}
.subunit-boundary {
  fill: none;
  stroke: #333;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
.cityname-label,
.stat-label {
    fill-opacity: .5;
    font-size: 6px;
    font-weight: 300;
    text-anchor: middle;
    display: none;
}
div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font-size: 13px;
  background: #EFFFD6;
  border: 1px;
  border-radius: 8px;
  pointer-events: none;
}
div.tooltip2 {
  position: absolute;
  text-align: center;
  padding: 2px;
  font-size: 15px;
  background: #A9D0F5;
  border: 1px;
  border-radius: 8px;
  pointer-events: none;
}
